fpdf2==2.8.3
matplotlib==3.8.3
pandas==2.2.3
Pillow==11.2.1
plotly==5.9.0
Requests==2.32.3
seaborn==0.13.2
st_gsheets_connection==0.1.0
streamlit==1.42.2
numpy>=1.21,<2.0
scipy>=1.10.0
kaleido==0.2.1

